<div class="ui-grid-row">
  <div class="ui-g-12 ui-md-12 ui-lg-4 ui-grid-responsive centered">
    <app-user-acquisition-and-loss-chart [data]="userAcquisitionStatisticData"></app-user-acquisition-and-loss-chart>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-4 ui-grid-responsive centered">
    <p>
      Not available yet<br/>
      <p-progressSpinner></p-progressSpinner>
    </p>
  </div>
  <div class="ui-g-12 ui-md-12 ui-lg-4 ui-grid-responsive centered">
    Not available yet<br/>
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>
