<!-- User acquisition/loss chart + applications states wizard -->
<div class="ui-grid-row">
  <div class="ui-g-6 ui-md-6 ui-sm-12 ui-lg-6 ui-grid-responsive centered">
    <app-user-acquisition-and-loss-chart [data]="userAcquisitionStatisticData"></app-user-acquisition-and-loss-chart>
  </div>
  <div class="ui-g-6 ui-md-6 ui-sm-12 ui-lg-6 ui-grid-responsive centered">
    <app-applications-states-wizard [data]="applicationStateData"></app-applications-states-wizard>
  </div>
</div>

<!-- Roadmap calendar -->
<div class="ui-grid-row">
  <div class="ui-g-8 ui-md-8 ui-sm-12 ui-lg-8 ui-grid-responsive centered">
    <app-calendar-relative-to-application-roadmap [data]="applicationRoadmapEventData"></app-calendar-relative-to-application-roadmap>
  </div>
  <div class="ui-g-4 ui-md-4 ui-sm-12 ui-lg-4 ui-grid-responsive centered">
    Not available yet<br/>
    <p-progressSpinner></p-progressSpinner>
  </div>
</div>

<!-- Artificiel Intelligence Reports about user loss reasons -->
<div class="ui-grid-row">
  <div class="ui-g-7 ui-md-7 ui-lg-7 ui-sm-12 ui-grid-responsive centered">
    <app-ai-report-chart-for-user-loss-reasons [data]="uninstallationReasonsData"></app-ai-report-chart-for-user-loss-reasons>
  </div>
</div>
